[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Our Junkyard.. ??
[access "refs/*"]
	owner = group user/dineshdlas (dlasdl)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/dineshdlas (dlasdl)
	label-Verified = -1..+1 group user/dineshdlas (dlasdl)
	push = group user/dineshdlas (dlasdl)
	read = group user/dineshdlas (dlasdl)
	rebase = group user/dineshdlas (dlasdl)
	removeReviewer = group user/dineshdlas (dlasdl)
	submit = group user/dineshdlas (dlasdl)
[access "refs/heads/*"]
	create = group user/dineshdlas (dlasdl)
	push = +force group user/dineshdlas (dlasdl)
	pushMerge = group user/dineshdlas (dlasdl)
	read = group user/dineshdlas (dlasdl)
[access "refs/tags/*"]
	push = group user/dineshdlas (dlasdl)
	push = +force group user/dineshdlas (dlasdl)
