[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Our Junkyard.. ??
[access "refs/*"]
	owner = group user/dlasdl
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/dlasdl
	label-Verified = -1..+1 group user/dlasdl
	push = group user/dlasdl
	read = group user/dlasdl
	rebase = group user/dlasdl
	removeReviewer = group user/dlasdl
	submit = group user/dlasdl
[access "refs/heads/*"]
	create = group user/dlasdl
	push = +force group user/dlasdl
	pushMerge = group user/dlasdl
	read = group user/dlasdl
[access "refs/tags/*"]
	push = group user/dlasdl
	push = +force group user/dlasdl
